{{#partial "contenido"}}
<h1>Pois</h1>
<div class="jumbotron">
{{#with terminal}}
<form action="/administrador/configurarAcciones/agregar/{{url}}" method="POST">
		<div class="form-group2">		
			<label for="acciones">Acciones:</label>
			<select name="acciones">
    		{{#each acciones2}}
    		<option value="{{this}}">{{this}}</option>
    		{{/each}}
</select>
		</div>
		<input class="btn btn-primary btn-lg" type="submit" value="Confirmar">
</form>
  {{/with}}
{{/partial}}

{{>layoutAdministrador.hbs}}