{{#partial "contenido"}}

<div class="jumbotron">
<form action="/administrador/buscarTerminal" method="GET">
  <h2>El Terminal y su usuario asociado se han eliminado correctamente</h2>
		<input class="btn btn-primary btn-lg" type="submit" value="Volver">
</form>

{{/partial}}

{{>layoutAdministrador.hbs}}