{{#partial "contenido"}}
<h1>Terminales</h1>
<div class="jumbotron">
  {{#with terminal}}
<form action="/administrador/editar/{{url}}" method="POST">
   <div class="form-group">
			<label for="nombre">Nombre</label>
			<input class="form-control " type="text" style="width:300px" value="{{terminal}}" name="nombre">
		</div>
	
		<div class="form-group2">		
			<label for="comuna">Comuna</label>
			<select name="comunas">
			<option value="1">1</option>
  			<option value="2">2</option>
  			<option value="3">3</option>
  			<option value="4">4</option>
  			<option value="5">5</option>
  			<option value="6">6</option>
  			<option value="7">7</option>
  			<option value="8">8</option>
  			<option value="9">9</option>
  			<option value="10">10</option>
  			<option value="11">11</option>
  			<option value="12">12</option>
  			<option value="13">13</option>
  			<option value="14">14</option>
  			<option value="15">15</option>
  			<option value={{comuna}}>{{comuna}}</option>
</select>
		
		<input class="btn btn-primary btn-lg" type="submit" value="Guardar">
</form>
  {{/with}}
{{/partial}}

{{>layoutAdministrador.hbs}}