{{#partial "contenido"}}
<h1>Pois</h1>
<table class="table table-stripped">
	<tr>
		<th>Nombre</th>
		<th>Tipo</th>
		<th></th>
	</tr>
	
	{{#each pois}}
		<tr>
			<td>{{nombre}}</td>
			<td>{{tipo}}</td>
			<td><form class="form-inline" action="editar/{{url}}" method="GET">
			<button type="submit" class="btn btn-default btn-sm">Editar</button>
			</form></td>
			<td><form class="form-inline" action="eliminar/{{url}}" method="POST">
			<button type="submit" class="btn btn-default btn-sm">Eliminar</button>
			</form></td>
		</tr>
	{{/each}}
</table>
<form action="/administrador/listar" method="GET">
		<input class="btn btn-primary btn-lg" type="submit" value="Volver">
</form>
{{/partial}}

{{>layoutAdministrador.hbs}}