   {{#partial "contenido"}}
<div class="jumbotron">
{{#with user}}
	<h1> Bienvenido {{usuario}} </h1>
	<h2> Selecciona una de las opciones listadas arriba para continuar</h2>
{{/with}}

{{/partial}}

{{>layoutAdministrador.hbs}}